{% extends 'complainapp/basic.html' %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static '/css/complainapp/index.css' %}">
{% endblock style %}
{% block body %}
{% if user.is_authenticated %}
<div class="content-enclosure">
    <h1 style="text-align:center;">Complains by you </h1>
    <div class="complains1" style="min-height:200px">
        <h2 class="bg-success text-white rounded-top" style="text-align:center; margin:0;padding:5px;">Complains
            answered</h2>
        <div class="list-group complain-list" style="border-radius:0px 0px 5px 5px">
            {% for complain in answered_complains %}
            <a href="#" class="list-group-item list-group-item-action complain-class" aria-current="true">
                <h6 class="complain-subject m-2">{{ complain.heading }}
                    <small style="font-size: 12px">-- to Director</small>
                </h6>
                <div class="complain-desc m-2">
                    <p>{{ complain.description }}</p>
                    <p>Response date: {{ complain.response_date }}</p>
                </div>
            </a>
            {% empty %}
            <p>No complains have been answered yet.</p>
            {% endfor %}
        </div>
    </div>

    <div class="complains2" style="min-height:200px">
        <h2 class="bg-danger text-white rounded-top" style="text-align:center; margin:0;padding:5px;">Complains not
            answered</h2>
        <div class="list-group complain-list" style="border-radius:0px 0px 5px 5px">
            {% for complain in unanswered_complains %}
            <a href="#" class="list-group-item list-group-item-action complain-class" aria-current="true">
                <h6 class="complain-subject m-2">{{ complain.heading }}
                    <small style="font-size: 12px">-- to Director</small>
                </h6>
                <div class="complain-desc m-2">
                    <p>{{ complain.description }}</p>
                    <p>Response date: {{ complain.response_date }}</p>
                </div>
            </a>
            {% empty %}
            <p>All complains have been answered.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock body %}
