{% extends 'basic.html' %}
{% block css %}

    body {
        background-color: #f3f3ff;
    }

    body > h1 {
        font-family: 'Open Sans', sans-serif;
    }

    input[type="text"]{
        padding-left: 10px;
        border-radius: 15px;
        box-shadow: none;
    }

    select {
        padding-left: 10px;
        border-radius: 15px;
        height: 2.25rem;
    }

    label {
        color: white;
    }
    
    .container {
        width: 55.5rem;
        background-color: #15225d;
        border-radius: 25px;
        color: rgb(253, 224, 224);
        font: arial;
        padding: 50px;
        margin-top: 3%;
        font-size: 20px;
        box-shadow: 0px 0px 7px 0px black;
        -webkit-box-shadow: 0px 0px 7px 0px black;
        -moz-box-shadow: 0px 0px 7px 0px black;
        transition: all 0.4s ease-out;
        align-items:center;
    }

    .nav-item-complain {
        color: #fff!important;
    }

    .save {
        border-color: grey;
        border-radius: 5px;
        background-color: #afafff;
        font-weight: 600;
        color: black;
        margin-top: 5%;
        margin-left: 5%;
        width: 90%;
        height: 60%;
        border-radius: 15px;
    }
{% endblock %}


{% block body %}
<!-- <div style="width: 18rem; ">
   <form method="POST" class="post-form">
       {% csrf_token %}
       {{ form.as_p }}
       <button type="submit" class="save btn btn-default">Save</button>
   </form>
</div> -->
<h1 style = "margin-top : 40px;"><center><b>Write your Complaint<b><center></h1>
<div class="container">
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save">Save</button>
    </form>
</div>

<br>
<br>
<br>

{% endblock %}