{% extends 'basic.html' %}
{% block title %} Contact Us {% endblock %}
{% block css %} 

body {
  background-color: #f3f3ff;
}

body > h1 {
  font-family: 'Open Sans', sans-serif;
}

input[type="text"],input[type="email"],input[type="tel"]{
  width: 100%;
  padding-left: 10px;
  border-radius: 15px;
  box-shadow: none;
}

textarea.form-control {
  width: 100%;
  padding-left: 10px;
  border-radius: 15px;
  box-shadow: none;
}

select {
  padding-left: 10px;
  border-radius: 15px;
  height: 2.25rem;
}

label {
  color: white;
}


.save {
  border-color: grey;
  border-radius: 5px;
  background-color: #afafff;
  font-weight: 600;
  color: black;
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  height: 60%;
  border-radius: 15px;
}

.containert { 
  background : #05124d ;
  color :white;
  margin :10%;
  border-radius : 10px;
  padding : 10px;
  padding-left: 10px;
  background-color: #15225d;
  border-radius: 25px;
  color: rgb(253, 224, 224);
  font: arial;
  padding: 50px;
  margin-top: 3%;
  font-size: 20px;
  box-shadow: 0px 0px 7px 0px black;
  -webkit-box-shadow: 0px 0px 7px 0px black;
  -moz-box-shadow: 0px 0px 7px 0px black;
  transition: all 0.4s ease-out;
  align-items:center;
}

.nav-item-contact {
  color: #fff!important;
}
{% endblock %}
{% block body %}
 <div class="containert">
     <h1 style="text-align: center ">Contact Us</h1><br>
     
     <form action="/contact" method="post">{% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
  </div>
          <div class="form-group">
    <label for="name">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
  </div>
          <div class="form-group">
    <label for="name">Phone</label>
    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
  </div>
   <div class="form-group">
    <label for="desc">How May We Help You ?</label>
    <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
  </div>

         <button type="submit" class="save btn btn-success" >Submit</button>
         </form>
</div>

     {% endblock %}
{%block js%}
<script>
// {% if thank %}
// alert('Thanks for contacting us. We wil get back to you soon!');
// // document.location = "/shop/contact";
// {%endif%}
</script>
{% endblock %}